<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <!-- Subscription-->
    <add key="subscriptionID" value="<Subscription ID>"/>

    <!--AAD Configuration-->
    <add key="ActiveDirectoryApplicationName" value="<Application NAme>"/>
    <add key="ActiveDirectoryApplicationRedirect" value="<Redirect URL>"/>
    <add key="ActiveDirectoryClientID" value="<Client ID>"/>
    <add key="ActiveDirectoryadTenant" value="Tenant ID"/>
    <add key="ActiveDirectoryResourceUri" value="https://management.core.windows.net/"/>

  </appSettings>
</configuration>